<div class="header" [class.fixed]="fixed">
    <div class="en-container full">
        <!--<div class="bx-top bar-contact">
            lorem
        </div>-->
        <div class="bx-top">
            <div class="app-logo">
                <img src="./assets/images/iimt-logo.svg" alt="">
            </div>
            <div class="block-title">
                <p class="f-title">International Institute of </p>
                <p class="s-title">Management & Technology</p>
            </div>

            <!--<div class="app-search-wrapper">
                <div class="inp-container">
                    <input class="inp-txt" type="text" name="" id="" placeholder="Search">
                    <button class="btn-search"><i class="material-icons">&#xE8B6;</i></button>
                </div>
            </div>-->
        </div>
        <div class="hidden-bar"></div>
        <nav class="en-navigation">



            <ul class="nav-menu">
                <li class="nav-menu-item active">
                    <a href="">
                        <i class="material-icons">home</i>
                        <span>home</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a class="dropdown" dropdown>
                        <span>Course</span>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['...']">Course name </a></li>
                            <li><a [routerLink]="['...']">Course name </a></li>
                        </ul>
                    </a>
                </li>

                <li class="nav-menu-item">
                    <a class="dropdown" dropdown>
                        <span> Short Course</span>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['...']">short Course name </a></li>
                            <li><a [routerLink]="['...']">short Course name </a></li>
                        </ul>
                    </a>
                </li>

            </ul>
            <ul class="nav-menu">

                <li class="nav-menu-item">
                    <a href="">
                        <span>About Us</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a href="">
                        <span>Contact Us</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a href="">
                        <span>Privacy</span>
                    </a>
                </li>
                <!--
                <li class="nav-menu-item">
                    <a href="" class="sign-in-btn">
                        <span>Sign In</span>
                    </a>
                </li>-->
            </ul>
        </nav>

    </div>
</div>