<div class="footer-block">
    <div id="maia-signature"></div>
    <div class="en-container">

        <div class="box s-12">
            <div class="social-block">
                <h3 class="follow-title">CONNECT US </h3>

                <div class="social-block-content">
                    <a href="/">
                        <img src="./assets/images/facebook-48.png" alt="">
                    </a>
                    <a href="/">
                        <img src="./assets/images/social_6-48.png" alt="">
                    </a>
                    <a href="/">
                        <img src="./assets/images/twitter-48.png" alt="">
                    </a>
                    <a href="/">
                        <img src="./assets/images/mail-48.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="box s-12">
            <ul class="footer-list">
                <li class="footer-list-iten">
                    <a href="/">Help</a>
                </li>
                <li class="footer-list-iten">
                    <a href="/">Contact Us</a>
                </li>
                <li class="footer-list-iten">
                    <a href="/">About Us</a>
                </li>
                <li class="footer-list-iten">
                    <a href="/">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>