<section class="en-section section-slide">
    <div class="en-container full">
        <div class="section-slide-content">
            <carousel>
                <slide style="background-image: url('https://storage.googleapis.com/madebygoog/v1/wifi/Wifi_Hero_Revised_Cord.jpg');">

                    <div class="carousel-caption">
                        <h3 class="title">Lorem.</h3>
                        <p class="title-desc">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        <a href="/" class="button button3">Find out more</a>
                    </div>

                </slide>
                <slide style="background-image: url('https://storage.googleapis.com/madebygoog/v1/home/background-hero-desktop.jpg');">

                    <div class="carousel-caption">
                        <h3 class="title">Lorem ipsum.</h3>
                        <p class="title-desc">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        <a href="/" class="button button3">Find out more</a>
                    </div>

                </slide>
                <slide style="background-image: url('http://www.southmetrotafe.wa.edu.au/sites/default/files/CarouselHomePage3.jpg');">

                    <div class="carousel-caption">
                        <h3 class="title">Lorem ipsum dolor.</h3>
                        <p class="title-desc">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        <a href="/" class="button button3">Find out more</a>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</section>
<div class="en-section scroll-to-bottom">
    <a href="" class="scroll-btn">
        <i class="material-icons">&#xE313;</i>
    </a>
</div>
<div class="section-title">
    <h3 class="h-title">Popular Courses</h3>
    <p class="s-title-desc">
        South Metropolitan TAFE provides high-quality vocational training, apprenticeships, traineeships and short courses that can lead to more than 140 exciting careers. You can study full-time, part-time or online. Our training delivery is flexible to suit
        your needs.
    </p>
    <a href="" class="see-all-c">see all course ></a>
</div>
<section class="en-section home-course c-section">
    <div class="en-container full">

        <div class="section-content">
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">
                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/agriculture-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Aerospace, Maritime and Logistics
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/hospitality-lrg-650x463_0.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Agriculture, Animals, Science and the Environment
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/building-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Automotive
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/business-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Building and Construction
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/defence2a.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Business and Finance
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/NewFitnessTile.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Health, Beauty and Fitness
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-title">
    <h3 class="h-title">Popular Short Courses</h3>
    <p class="s-title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam!</p>
    <a href="" class="see-all-c">see all course ></a>
</div>
<section class="en-section home-course sc-section">
    <div class="en-container full">
        <div class="section-content">
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">
                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/agriculture-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Aerospace, Maritime and Logistics
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>

                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/hospitality-lrg-650x463_0.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Agriculture, Animals, Science and the Environment
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/building-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Automotive
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/business-lrg-650x463.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Building and Construction
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/defence2a.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Business and Finance
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="box xl-4 l-4 md-6 s-12">
                <div class="course-box">

                    <figure class="effect-milo">
                        <img src="http://www.southmetrotafe.wa.edu.au/sites/default/files/NewFitnessTile.jpg" alt="img13" />
                        <figcaption>
                            <h2>
                                Health, Beauty and Fitness
                            </h2>
                            <p>Ruby did not need any help. Everybody knew that.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


<!--

<div class="en-section">
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>
</div>-->